<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
</head>
<body>
    <div class="foto">
        <img src="fondo-home.jpg" alt="Imagen de la galería" class="img-fluid">
    </div>
    <div class="contenido">
        <h1>Descubre los diferentes mundos nevados con FotoRall: Winter edition</h1>
        <p>¡Prepárate para capturar la magia del invierno en su máxima expresión! Ponte tu abrigo más cálido, coge tu cámara y embárcate en una aventura única entre paisajes nevados, luces suaves y la belleza helada de la temporada.</p>
        <p> Explora bosques cubiertos de nieve, calles iluminadas por la fría brisa invernal y detalles ocultos entre la escarcha. 
            Captura la esencia del invierno: desde la serenidad de un amanecer helado hasta la calidez de una taza de chocolate caliente entre las manos.
            Comparte tus mejores fotos y compite por increíbles premios. ¡Deja que tu creatividad y tu amor por la fotografía brillen bajo el cielo invernal!
            ¡No dejes que el frío te detenga! ¡Únete al Rally Fotográfico de Invierno y convierte cada instantánea en una obra de arte!
        </p>
        <a href="participa" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">¡Inscríbete ahora y empieza la aventura!</a>
        <br>
        <h1>¿En que consiste?</h1>
        <p>El Rally Fotográfico de Invierno es una competición en la que los participantes deben capturar la esencia del invierno a través de sus fotografías. 
            Cada participante recibirá una lista de temas que deberá plasmar en sus fotos, y tendrá un tiempo limitado para hacerlo. 
            Al final del rally, los participantes deberán subir sus fotos a la plataforma y un jurado seleccionará a los ganadores.
            <a href="/informacion#bases">Ver más información</a>
    </div>
    <h2>Descubre a nuestros ganadores anteriores</h2>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="fondo-home.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="info-bg.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="join-bg.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="espacio">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="contacto">
        <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos. Estamos aquí para ayudarte.</p>
        <form class="row g-3">
            <div class="col-6">
                <label for="nombreInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreInput" placeholder="Nombre">
            </div>
            <div class="col-6">
                <label for="nombreInput" class="form-label">Email</label>
                <input type="email" class="form-control"  id="emailInput" placeholder="Correo electrónico">
            </div>

            <div class="col-12">
                <label for="inputAddress" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Dirección de correo">
            </div>

            <div class="col-6">
                <label for="inputCity" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Ciudad">
            </div>

            <div class="col-3">
                <label for="inputPostalCode" class="form-label">Codigo postal</label>
                <input type="text" class="form-control" id="inputPostalCode" placeholder="Codigo postal">
            </div>

            <div class="col-3">
                <label for="inputCountry" class="form-label">Pais</label>
                <input type="text" class="form-control" id="inputCountry" placeholder="Pais">
            </div>

            <div class="col-12">
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label" for="check">Acepto los términos y condiciones</label>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary"> Regístrate</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>© 2025 FotoRall. Todos los derechos reservados.</p>
    </div>
</body>
</html>
