* {
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

.fondo {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
}

/* Formulario */
.formulario {
    flex: 1;
    background-color: rgba(174, 204, 238, 0.726);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333333;
    margin-top: 30px;
    align-self: flex-start;
}

.formulario .form-control {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 14px;
}

.formulario .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
    outline: none;
}

.formulario a {
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #007bff;
    transition: color 0.3s;
}

.formulario a:hover {
    color: #0056b3;
}

.btn-primary {
    width: 100%;
    background-color: #66a9f1;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Imagen */
.imagen {
    flex: 1;
    background: url('/login-bg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------ */
/* Estilos Responsive */
/* ------------------------ */
@media (max-width: 992px) {
    .formulario h2 {
        font-size: 26px;
        align-self: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .fondo {
        flex-direction: column;
    }

    .imagen {
        display: none;
    }

    .formulario {
        flex: none;
        width: 100%;
        height: 100vh;
        padding: 30px;
    }

    .formulario h2 {
        text-align: center;
        align-self: center;
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .formulario {
        padding: 20px;
    }

    .formulario h2 {
        font-size: 20px;
    }

    .formulario .form-control {
        font-size: 13px;
        padding: 10px;
    }

    .btn-primary {
        font-size: 15px;
    }
}
