<div class="fondo">
  <div class="formulario">
    <h2>Inicio sesión</h2>

    <input
      type="email"
      [(ngModel)]="email"
      class="form-control"
      placeholder="Introduzca un correo"
      required
    />

    <input
      type="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Introduzca una contraseña"
      required
    />

    <button
      type="button"
      class="btn-primary"
      (click)="iniciarSesion()"
    >
      Iniciar sesión
    </button>

    <p class="error" *ngIf="error">{{ error }}</p>

    <a routerLink="/participa">¿No tienes cuenta? Regístrate</a>
  </div>

  <div class="imagen"></div>
</div>
