<head>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
</head>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <!-- Brand con imagen -->
      <a class="navbar-brand" href="/">
        <img src="favicon.ico" alt="Logo" width="50" height="50" class="me-2">
        Foto <span style="color: #7dc2f0;">Rall</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Información</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/informacion#bases">Bases del concurso</a></li>
                <li><a class="dropdown-item" href="/informacion#plazos">Plazos</a></li>
                <li><a class="dropdown-item" href="/informacion#requisitos">Requisitos de participación</a></li>
                <li><a class="dropdown-item" href="/informacion#premios">Premios</a></li>
                <li><a class="dropdown-item" href="/informacion#contacto">Contacto</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Fotografías</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/gallery">Galería de imágenes</a></li>
                <li><a class="dropdown-item" href="/misfotos">Mis fotografías</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/participa">Participa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="bi bi-person-circle"></i>Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account"><i class="bi bi-person-circle"></i>Mi cuenta</a>
          </li>

          <li class="nav-item" *ngIf="esAdmin()">
            <a class="nav-link" href="/adminMenu">ADMIN</a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>
<router-outlet />