<div class="container">
    <div class="row">
      <div 
        *ngFor="let photo of photos | paginate: { itemsPerPage: 15, currentPage: currentPage }" 
        class="col-md-4 col-sm-6 col-12"
      >
        <div class="photo-card">
          <img [src]="photo.url" alt="Foto">
          <div class="actions">
            <button (click)="likePhoto(photo.id)" class="like-btn">
              ❤️ {{ photo.likes }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="currentPage = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      class="pagination"
    ></pagination-controls>
  </div>
  