<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="fondo">
    <div class="container">
      <h1>Galería de imagenes</h1>
      <div class="row">
        <!-- Mostrar las fotos en tarjetas con tamaño uniforme -->
        <div *ngFor="let photo of photos | paginate: { itemsPerPage: 6, currentPage: currentPage }" class="col-md-4 d-flex justify-content-center">
          <div class="photo-card">
            <img [src]="photo.url" [alt]="photo.nombre" />
            <div class="actions">
              <p>{{ photo.nombre }}</p>
              <button class="like-btn" (click)="likePhoto(photo.id)">❤️ {{ photo.likes }}</button>
            </div>
          </div>
        </div>

        <!-- Controles de paginación centrados -->
        <div class="pagination">
          <pagination-controls (pageChange)="currentPage = $event" class="pagination-controls"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>
